body {
  height: auto;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

/* NAVIGATION BAR */
nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border-bottom: 1px solid #f1f1f1;
  display: inline;
  z-index: 1;
}

nav ul {
  text-align: center;
  margin-top: 20px;
}

nav li {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;

  padding-left: 40px;
  padding-right: 40px;
}

/* NAVIGATION PSUEDO LINK SYTLES */
nav a:link {
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

nav a:visited {
  color: black;
}

/* Page Headers */
.header {
  font-weight: bold;
  font-size: 30px;
}

/* FOOTER */
footer {
  clear: both;
  background: white;
  border-top: 1px solid #f1f1f1;
  width: 100%;
  height: 50px;
  font-size: 14px;
  text-align: center;
}

footer p {
  padding-top: 20px;
}

/* CODE FONT */
code {
  font-size: 15px;
  border: 1px solid #C2C2C2;
  border-radius: 3px;
  background-color: #D2D2D2;
  font-family: monospace;
  color: #22211F;
  padding: 1px 5px;
  border-radius: 4px;
}

.page-content {
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.post {
  padding-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
}

/* INDEX */
.date {
  color: #7e7e7e;
}

.blogtitle-link {
  font-weight: bold;
  font-size: 24px;
}

a:link {
  color: #545454;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #545454;
}

ul {
  list-style: none;
  padding-left: 0;
}
li {
  display: list-item;
}

ul p {
  font-size: 15px;
}

ul a {
  font-size: 14px
}

/* POSTS */
pre code {
  display: block;
  white-space: pre-wrap;
}

.method {
    font-family: monospace;
    font-size: 18px;
    font-style: bold;
}