body {
  height: auto;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

/* NAVIGATION BAR */
nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  border-bottom: 1px solid #f1f1f1;
  display: inline;
  z-index: 1;
}

nav ul {
  text-align: center;
  margin-top: 20px;
}

nav li {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;

  padding-left: 40px;
  padding-right: 40px;
}

/* NAVIGATION PSUEDO LINK SYTLES */
nav a:link {
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

nav a:visited {
  color: black;
}

/* Page Headers */
.header {
  font-weight: bold;
  font-size: 30px;
}

/* HOME PAGE ABOUT ME SECTION */
.self {
  padding-top: 10%;
  text-align: center;
}

.self img {
  border-radius: 100px;
}

.self p {
  margin-bottom: 20px;
}

/* EMAIL BUTTON */
.email-button a {
  border: 1px solid black;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.email-button a:hover {
  border: 1px solid gray;
  color: gray;
}

.email-button a:visited {
  border: 1px solid black;
}

/* SOCIAL MEDIA LINK ICONS */
.social {
  margin-top: 20px;
  position: static;
}

.social ul {
  text-align: center;
  margin-top: 20px;
  padding: 0;
}

.social li {
  display: inline;
}

.social img {
  height: 30px;
}

.space {
  margin: 12%;
}


/* FOOTER */
footer {
  clear: both;
  background: white;
  border-top: 1px solid #f1f1f1;
  width: 100%;
  height: 50px;
  font-size: 14px;
  text-align: center;
}

footer p {
  padding-top: 20px;
}

/* CODE FONT */
code {
  font-size: 15px;
  border: 1px solid #C2C2C2;
  border-radius: 3px;
  background-color: #D2D2D2;
  font-family: monospace;
  color: #22211F;
  padding: 1px 5px;
  border-radius: 4px;
}

/* ABOUT ME IMAGE */
img {
  border-radius: 100px;
}
.about-bio {
  display: inline-block;
}

.img-container{
  float: left;
  display: inline-block;
}

.p-container {
  float: left;
  display: inline-block;
  padding-left: 20px;
}

.about-wrapper {
  margin-right: 25%;
  margin-left: 25%;
  padding-top: 50px;
}

.about-section p {
  text-align: left;
  max-width: 400px;
  font-size: 15px;
}

.about-social {
  border-top: 1px solid #f1f1f1;
}

.about-social p {
  font-size: 16px;
  font-family: Helvetica;
  padding-top: 50px;
  text-align: center;
}

/* BOTTOM PREVIOUS AND NEXT NAVIGATION */
.bottom-nav {
  color: black;
  height: 50px;
}

.bottom-nav a {
  color: black;
  text-decoration: none;
  font-family: Helvetica;
}

.bottom-nav a:hover {
  text-decoration: underline;
}

.bottom-nav a:visited {
  color: black;
}

.prev {
  float: left;
}

.next {
  float: right;
}

