.page-content {
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.post {
  padding-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

/* INDEX */
.date {
  color: #7e7e7e;
}

.blogtitle-link {
  font-weight: bold;
  font-size: 24px;
}

a:link {
  color: #545454;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #545454;
}

ul {
  list-style: none;
  padding-left: 0;
}
li {
  display: list-item;
}

ul p {
  font-size: 15px;
}

ul a {
  font-size: 14px
}

/* POSTS */
pre code {
  display: block;
  white-space: pre;
}

img {
  vertical-align: middle;
  max-width: 100%;
}