.post-content {
  padding-top: 50px;
}

.bottom-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom-nav a {
  color: black;
  text-decoration: none;
  font-family: Helvetica;
}

.bottom-nav a:hover {
  text-decoration: underline;
  color: gray;
}

.bottom-nav a:visited {
  color: black;
}

.prev {
  margin-left: 250px;
}

.next {
  float: right;
  margin-right: 250px;
}

#fixed-screen {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

#relative-screen {
  position: relative;
  left: 150px;
}

#absolute-screen {
  position: relative;
  left: 150px;
}

pre code {
  display: block;
  white-space: pre;
}

section {
  margin-left: 250px;
  margin-right: 250px;
}